<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <title>School Activities Club Frontend</title>
  </head>
  <body>
    <div id="app">
      <nav class="navbar">
        <div class="nav-content">
          <span class="logo-img"><img src="images/logo.png" alt="" /></span>
          <h1 class="site-name" v-text="sitename"></h1>

          <div class="search-bar">
            <input
              type="text"
              v-model="searchQuery"
              placeholder="Search products..."
            />
            <button><i class="fa-solid fa-search"></i></button>
          </div>
          <button
            class="checkout-button"
            v-if="cartitemcount > 0"
            v-on:click="toggleCheckout"
          >
            <i class="fa-solid fa-cart-shopping"></i>
            {{ checkoutPage ? 'Hide Checkout' : 'Checkout (' + cartitemcount +
            ')' }}
          </button>
        </div>
      </nav>
      <main v-if="!checkoutPage">
        <div class="products-grid">
          <div
            v-for="product in sortedProducts"
            :key="product.id"
            class="product-item"
          >
            <h2 v-text="product.title"></h2>
            <figure>
              <img class="image-1" v-bind:src="product.image" />
            </figure>
            <h2 v-text="product.subject"></h2>
            <p v-text="'Location: ' + product.location"></p>
            <p>Price: {{ product.price }} AED</p>
            <p>Available Items: {{ product.AvailableInventory }}</p>
            <button
              class="addToCart"
              v-on:click="addToCart(product)"
              v-if="canAddToCart(product)"
            >
              Add to cart
            </button>
            <button disabled v-else>Add to cart</button>
            <span v-if="product.AvailableInventory <= 0">All out!</span>
            <span v-else-if="product.AvailableInventory < 5">
              Only {{ product.AvailableInventory }} left!
            </span>
            <span v-else>Buy Now!</span>
            <div class="rev">
              <span>Reviews:</span>
              <span v-for="n in product.rating">⭐</span>
              <span v-for="n in 5 - product.rating">☆</span>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script>
      var AfterSchoolClub = new Vue({
        el: "#app",
        data: {
          sitename: "After School Club",
          products: [
            {
              id: 101,
              title: "Swimming Club",
              subject: "Swimming",
              location: "Dubai",
              price: 100,
              image: "images/swimming.jpg",
              AvailableInventory: 10,
              rating: 4,
            },
            {
              id: 102,
              title: "Chess Club",
              subject: "Chess",
              location: "Ajman",
              price: 155,
              image: "images/chess.jpg",
              AvailableInventory: 23,
              rating: 5,
            },
            {
              id: 103,
              title: "Track And Field",
              subject: "Track",
              location: "Ajman",
              price: 130,
              image: "images/track.jpg",
              AvailableInventory: 25,
              rating: 3,
            },
            {
              id: 104,
              title: "Art Club",
              subject: "Art",
              location: "Dubai",
              price: 80,
              image: "images/art.jpg",
              AvailableInventory: 15,
              rating: 3,
            },
            {
              id: 105,
              title: "Comics Club",
              subject: "Comics",
              location: "Internet City",
              price: 100,
              image: "images/comics.jpg",
              AvailableInventory: 25,
              rating: 3,
            },
            {
              id: 106,
              title: "Football Club",
              subject: "Football",
              location: "Dubai",
              price: 195,
              image: "images/football.jpg",
              AvailableInventory: 25,
              rating: 3,
            },
            {
              id: 107,
              title: "Debate Club",
              subject: "Debate",
              location: "Free Zone",
              price: 130,
              image: "images/debate.jpg",
              AvailableInventory: 18,
              rating: 4,
            },
            {
              id: 108,
              title: "Robotics Club",
              subject: "Robotics",
              location: "Sharjah",
              price: 170,
              image: "images/robotics.jpg",
              AvailableInventory: 10,
              rating: 5,
            },
            {
              id: 109,
              title: "Drama Club",
              subject: "Drama",
              location: "Dubai",
              price: 150,
              image: "images/Drama.jpg",
              AvailableInventory: 8,
              rating: 5,
            },
            {
              id: 110,
              title: "Dance Club",
              subject: "Dance",
              location: "Abu Dhabi",
              price: 120,
              image: "images/dance.jpg",
              AvailableInventory: 5,
              rating: 4,
            },
          ],
        },
      });
    </script>
  </body>
</html>
